button{
    border: none;
}
.starblue{
    color:blue;
}
.starblue, .starblue:hover {
    color:blue;
}

.paginationdiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagination{
    gap: -1px;
    border: 1px solid rgb(1, 149, 207);

}
.pagination span:nth-child(1){
    border: none;
}
.pagination span{
    width: 20px;
    text-align: center;
    border-left: 1px solid rgb(1, 149, 207);
}
.pagination span a{
    text-decoration: none;
}
.pagination span.current{
    background-color: rgb(1, 149, 207);
    color: #fff;
}
.starblue, .starblue:hover {
    color: blue;
}